<% provide(:title, 'Create a film') %>
<h1>Create a film</h1>
<div class="row">
	<div class="span6 offset3" >
		<%= form_for(@film , url: static_pages_path(@film)) do |f| %>
		    Film:
			<%= f.label :name %>
			<%= f.text_field :name %>

			Location:
			<%= f.fields_for :locations do |location_form| %>
			<%= location_form.label :name %>
			<%= location_form.text_field :name %>

			<% end %>

			<%= f.submit "Create", class: "btn btn-large btn-primary" %>

		<% end %>

	</div>

</div>
<p>HeHe</p>
